.doesnt_found{
	background: url(../images/doesnt_found.png) no-repeat center;
	background-size:cover;
	color:#2d7200;
}
.doesnt_found_header{
	color:#151535;
}
.doesnt_found_button{
	background:#234753;
	margin-bottom: 15px !important;
	color: white !important;
}