.reasons{
	background: url(../images/reasons-fone.png) no-repeat center;
	background-size:cover;
	color:#375863;
}
.reasons_icon{
	background:#375863;
}
.reasons_head{
	color:white;
}
.reasons_head>h2{
	margin-bottom:50px;
}