.slider {
	width: 80%;
	margin: 100px auto;
	box-sizing: border-box;
}

.slick-slide {
	margin: 0px 5px;
}

.slick-slide img {
	width: 100%;
}
.fa-chevron-right{
	right: -60px;
}
.fa-chevron-left{
	left: -60px;
}
.fa-chevron-right,
.fa-chevron-left {
	color: #2d7200;
	position: absolute;
	top: 30%;
}

@media screen and (min-width: 900px) {
	.EVD{
		margin-top: 55px;
	}
}
@media screen and (max-width: 899px) {
	.EVD{
		margin-top: 30px;
	}
}
@media screen and (max-width: 600px) {
	.EVD{
		margin-top: 10px;
	}
	.fa-chevron-right,
.fa-chevron-left {
	top: 15%;
}
}
@media screen and (max-width: 450px) {
	.fa-chevron-right,
.fa-chevron-left {
	top: 0%;
}
}