.adres{
	background: url(../images/adres-fone.png) no-repeat center;
	background-size:cover;
}
.adres-map{
	width: 100%;
	height: 355px;
	padding: 0px;
	margin-top:75px;
}
.adres_header{
	margin-top:100px;
	color:white;
}